@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', serif;
}


h1{
    font-size: 1rem;
}
li, button, label, input, p{
    font-size: 1rem;
}
h2{
    font-size: 4.8rem;
}
h3{
    font-size: 1rem;
    font-weight: normal;
}
h4,h5{
    font-size: 2.8rem;
}
a{
    color: white;
    text-decoration: none;
}
button{
    padding: 2rem 6rem;
    background: #4c6e97;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;

    transition: all 0.3s ease-out; /* target propert, sec, easing, delay */
}

button:hover{
    background-color: #27394e;
    font-size: larger;
}
/*NAV SECTION WITH HERO*/
.main-head{
    background-color: #131c27;
    
    position: sticky;
    top: 0px;
    z-index: 3;
}
nav{
    min-height: 10vh;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    align-items: center;
    padding: 2rem;
}
nav ul{
    display: flex;
    flex: 1 1 20rem;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
#logo{
    flex: 4 1 20rem;
    color: white;
}


.hero{
    min-height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.5),transparent) ,url('./img/landing-page.jpg') no-repeat center/cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero h3{
    padding: 3rem;
}



/*LOCATIONS SECTION*/
#locations{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),transparent), url('./img/new-york-page.png') no-repeat center/cover;

    display: flex;
    align-items: center ;

    position: relative;

    overflow: hidden;
}
.locations-head{
    width: 90%;
    margin: auto;
}
.locations-head h2{
    padding: 1rem 0rem;
    font-size: 2rem;
    text-decoration: underline;
}
.locations-head h3{
    padding: 2rem 0rem;

}

.cloud{
    position: absolute;
    top: 0%;
    right: 0%;
}
.moving-cloud-1{
    animation: cloudAnimation 3s infinite alternate ease-in-out;
}
.moving-cloud-2{
    top: 20%;
    z-index: -1;
    opacity: 0.5;
    animation: cloudAnimation 4s infinite alternate ease-in-out;
}



/*benefits section*/
.benefits-head{
    background: #343c44;
    padding: 3rem;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.cards{
    width: 90%;
    margin: auto;
    display: flex;
    min-height: 70vh;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    flex: 1 1 5rem;
    min-height: 40vh;
    margin: 2rem 5rem;

    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1),0px 20px 20px rgba(0, 0, 0, 0.1);

    text-align: center;
}

.card h4{padding-top: 0.5rem;}
.card p{padding: 0.5rem 2rem;}

.cards img{
    max-width: 15%;
    margin: 2rem;
}

.card-icon{
    background-color: #131c27;
    text-align: center;
}








@keyframes cloudAnimation{
    from{
        transform: translate(10%,-10%);
    }
    to{
        transform: translate(0%, 0%);
    }
}



@media screen and (max-width:934px){
    nav{
        text-align: center;
    }
    #logo{
        padding: 1rem;
    }
    
    .moving-cloud-1{
        z-index: -1;
    }
    .moving-cloud-2{
        z-index: -2;
    }

    .locations-head h3{
         background:rgba(19, 28, 39,0.5);
         padding: 2rem;
         color: white;
    }

    footer{
        text-align: center;
    }
 }
 


#contact{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),transparent),url('./img/contact-mountain.png') no-repeat center/cover;

    display: flex;
    align-items: center;
    justify-content: center;

}

.form-wrapper{
    background: rgba(19, 28, 39, 0.8);
    width: 60%;
    color: white;
    border-radius: 20px;
}

.form-head{
    text-align: center;
    padding: 4rem;
}

.name-form, .email-form{
    text-align: center;
    padding: 1rem;
}

.form-wrapper button{
    width: 100%;
    padding: 2rem;
    margin-top: 8rem;
    border-bottom-left-radius: 20px;
}



footer{
    color: white;
    background: rgba(19, 28, 39, 1);
}

.footer-wrapper{
    display: flex;
    padding: 2rem;
    width: 90%;
    margin: auto;
    align-items: center;
    min-height: 10vh;
    flex-wrap: wrap;
}

.footer-wrapper h5{
    flex: 1 1 40rem;
}

.footer-wrapper ul{
    display: flex;
    list-style: none;
    flex: 1 1 40rem;
    justify-content: space-between;
    align-items: center;
}